#menuView.hide ,.hide{
	display: none;
}

#menuView {
    font-weight: bold;
    width: 60%;
    margin: auto;
    display: table;
    table-layout: fixed;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menuPlaylist {
    background-color: #1c1c1c;
    padding: 1%;
    border: solid #373737;
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
}

#menuPlaylist > :nth-child(2n) {
    background-color: #716e6e;
}

.delPl {
    background: no-repeat url("../img/delete-white.svg");
    color: transparent;
}

#addPlaylist {
    display: table-cell;
    vertical-align: middle;
}

#addPlButton {
    background: no-repeat url("../img/add-white.svg");
    color: transparent;
}
